@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

:root{
    --primary-color: rgb(233, 237, 241);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color) !important;
    font-family: 'Roboto' !important
}
.container{
    background-color: white;
    padding: 15px;
    border-radius:5px;
    margin-top: 25px;
}
